<a href="https://colab.research.google.com/github/Atiq0641/python_codes/blob/main/Lab_Assignment_6_111.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1

In [ ]:
class Student:
  ID=0
  def __init__(self,name,department,age,cgpa):
    self.name=name
    self.department=department
    self.age=age
    self.cgpa=cgpa
  def get_details(self):
    Student.ID+=1
    print(f'ID: {Student.ID}\nName: {self.name}\nDepartment: {self.department}\nAge: {self.age}\nCGPA: {self.cgpa}')
  @classmethod
  def from_String(cls,info):
    info_list=info.split('-')
    name=info_list[0]
    department=info_list[1]
    age=info_list[2]
    cgpa=info_list[3]
    return cls(name,department,age,cgpa)
s1 = Student("Samin", "CSE", 21, 3.91)
s1.get_details()
print("-----------------------")
s2 = Student("Fahim", "ECE", 21, 3.85)
s2.get_details()
print("-----------------------")
s3 = Student("Tahura", "EEE", 22, 3.01)
s3.get_details()
print("-----------------------")
s4 = Student.from_String("Sumaiya-BBA-23-3.96")
s4.get_details()

ID: 1
Name: Samin
Department: CSE
Age: 21
CGPA: 3.91
-----------------------
ID: 2
Name: Fahim
Department: ECE
Age: 21
CGPA: 3.85
-----------------------
ID: 3
Name: Tahura
Department: EEE
Age: 22
CGPA: 3.01
-----------------------
ID: 4
Name: Sumaiya
Department: BBA
Age: 23
CGPA: 3.96

2

In [ ]:
class Assassin:
  assasination=0
  def __init__(self,name,sucess_rate):
    self.name=name
    self.sucess_rate=sucess_rate
    Assassin.assasination+=1
  @classmethod
  def failureRate(cls,name,failure):
    sucess=100-failure
    return cls(name,sucess)
  @classmethod
  def failurePercentage(cls,name,failure_percentage):
    failure_percentage1=''
    for i in failure_percentage:
      if i!="%":
        failure_percentage1+=i
    sucess_percentage=100-int(failure_percentage1)
    return cls(name,sucess_percentage)
  def printDetails(self):
    print(f'Name: {self.name}\nSuccess rate: {self.sucess_rate}%\nTotal number of Assassin: {Assassin.assasination}')
john_wick = Assassin('John Wick', 100)
john_wick.printDetails()
print('================================')
nagisa = Assassin.failureRate("Nagisa", 20)
nagisa.printDetails()
print('================================')
akabane = Assassin.failurePercentage("Akabane", "10%")
akabane.printDetails()

Name: John Wick
Success rate: 100%
Total number of Assassin: 1
================================
Name: Nagisa
Success rate: 80%
Total number of Assassin: 2
================================
Name: Akabane
Success rate: 90%
Total number of Assassin: 3

3

In [ ]:
class Passenger:
  count=0
  def __init__(self,name):
    self.name=name
    self.bus_fare=0
    Passenger.count+=1
  def set_bag_weight(self,weight):
    if weight<=20:
      self.bus_fare=450
    elif 21<=weight<=50:
      self.bus_fare=450+50
    else:
      self.bus_fare=450+100
  def printDetail(self):
    print(f'Name: {self.name}\nBus Fare: {self.bus_fare}')
print('Total Passenger:', Passenger.count)
p1 = Passenger('Jack')
p1.set_bag_weight(90)
p2 = Passenger('Carol')
p2.set_bag_weight(10)
p3 = Passenger('Mike')
p3.set_bag_weight(25)
print("=========================")
p1.printDetail()
print("=========================")
p2.printDetail()
print("=========================")
p3.printDetail()
print("=========================")
print('Total Passenger:', Passenger.count)

Total Passenger: 0
=========================
Name: Jack
Bus Fare: 550
=========================
Name: Carol
Bus Fare: 450
=========================
Name: Mike
Bus Fare: 500
=========================
Total Passenger: 3

4

In [8]:
class Travel:
  count=0
  def __init__(self,source,desti):
    self.source=source
    self.desti=desti
    self.flight_time=1
    Travel.count+=1
  def set_time(self,time):
    self.flight_time=time
  def display_travel_info(self):
    return f'Source:{self.source}\nDestination:{self.desti}\nFlight Time:{self.flight_time}:00'
  def set_source(self,new_source):
    self.source=new_source
  def set_destination(self,new_desti):
    self.desti=new_desti
print('No. of Traveller =', Travel.count)
print("=======================")
t1 = Travel("Dhaka","India")
print(t1.display_travel_info())
print("=======================")
t2 = Travel("Kuala Lampur","Dhaka")
t2.set_time(23)
print(t2.display_travel_info())
print("=======================")
t3 = Travel("Dhaka","New_Zealand")
t3.set_time(15)
t3.set_destination("Germany")
print(t3.display_travel_info())
print("=======================")
t4 = Travel("Dhaka","India")
t4.set_time(9)
t4.set_source("Malaysia")
t4.set_destination("Canada")
print(t4.display_travel_info())
print("=======================")
print('No. of Traveller =', Travel.count)

No. of Traveller = 0
=======================
Source:Dhaka
Destination:India
Flight Time:1:00
=======================
Source:Kuala Lampur
Destination:Dhaka
Flight Time:23:00
=======================
Source:Dhaka
Destination:Germany
Flight Time:15:00
=======================
Source:Malaysia
Destination:Canada
Flight Time:9:00
=======================
No. of Traveller = 4

5

In [10]:
class Employee:
  def __init__(self,name,workingPeriod):
    self.name=name
    self.workingPeriod=workingPeriod
  @classmethod
  def employeeByJoiningYear(cls,name,year):
    name=name
    workingPeriod=int(year)-2010
    return cls(name,workingPeriod)
  @staticmethod
  def experienceCheck(workingPeriod,gender):
    if workingPeriod>=3 and gender=="male" :
      return "He is experienced"
    elif workingPeriod>=3 and gender=="female":
      return "She is experienced"
    elif workingPeriod<3 and gender=="male":
      return "He is not experienced"
    elif workingPeriod<3 and gender=="female":
      return "She is not experienced"
employee1 = Employee('Dororo', 3)
employee2 = Employee.employeeByJoiningYear('Harry', 2016)
print(employee1.workingPeriod)
print(employee2.workingPeriod)
print(employee1.name)
print(employee2.name)
print(Employee.experienceCheck(2, "male"))
print(Employee.experienceCheck(3, "female"))

3
6
Dororo
Harry
He is not experienced
She is experienced

6

In [18]:
class Laptop:
  laptopCount=0
  def __init__(self,name,laptop_count):
    self.name=name
    self.count=laptop_count
    Laptop.laptopCount+=laptop_count
  @classmethod
  def advantage(cls):
    print("Laptops are portable")
  @classmethod
  def resetCount(cls):
    cls.laptopCount=0    
lenovo = Laptop("Lenovo", 5);
dell = Laptop("Dell", 7);
print(lenovo.name, lenovo.count)
print(dell.name, dell.count)
print("Total number of Laptops", Laptop.laptopCount)
Laptop.advantage()
Laptop.resetCount()
print("Total number of Laptops", Laptop.laptopCount)

Lenovo 5
Dell 7
Total number of Laptops 12
Laptops are portable
Total number of Laptops 0

7

In [30]:
class Cat:
  Number_of_cats=0
  def __init__(self,cat_color,cat_activity):
    self.cat_color=cat_color
    self.cat_activity=cat_activity
    Cat.Number_of_cats+=1
  def printCat(self):
    print(f'{self.cat_color} cat is {self.cat_activity}') 
  def changeColor(self,color):
    self.cat_color=color
  @classmethod
  def no_parameter(cls):
    color="White"
    activity='sitting'
    return cls(color,activity)
  @classmethod
  def first_parameter(cls,color):
    activity='sitting'
    return cls(color,activity)
  @classmethod
  def second_parameter(cls,activity):
    color="Grey"
    return cls(color,activity)
print("Total number of cats:", Cat.Number_of_cats)
c1 = Cat.no_parameter()
c2 = Cat.first_parameter("Black")
c3 = Cat("Brown", "jumping")
c4 = Cat("Red", "purring")
c5 = Cat.second_parameter("playing")
print("=======================")
c1.printCat()
c2.printCat()
c3.printCat()
c4.printCat()
c5.printCat()
c1.changeColor("Blue")
c3.changeColor("Purple")
c1.printCat()
c3.printCat()
print("=======================")
print("Total number of cats:", Cat.Number_of_cats)

Total number of cats: 0
=======================
White cat is sitting
Black cat is sitting
Brown cat is jumping
Red cat is purring
Grey cat is playing
Blue cat is sitting
Purple cat is jumping
=======================
Total number of cats: 5

8

In [40]:
import math
class Cylinder:
  radius=5
  height=18
  def __init__(self,radius,height):
    print(f'Default radius={Cylinder.radius} and height={Cylinder.height}.')
    Cylinder.radius=radius
    Cylinder.height=height
    print(f'Updated: radius={radius} and height={height}.')
  def area(self,radius,height):
    area=(2*math.pi*radius**2)+(2*math.pi*radius*height)
    print(area)
  def volume(self,radius,height):
    volume=math.pi*radius**2*height
    print(f'Volume: {volume}')
  @classmethod
  def changeFormat(cls,info):
    info_lst=info.split('-')
    radius=float(info_lst[0])
    height=float(info_lst[1])
    return cls(radius,height)
  @classmethod
  def swap(cls,radius,height):
    return cls(height,radius)
  @staticmethod
  def area(radius,height):
    area=(2*math.pi*radius**2)+(2*math.pi*radius*height)
    print(f'Area: {area}')
  @staticmethod
  def volume(radius,height):
    volume=math.pi*radius**2*height
    print(f'Volume: {volume}')    
c1 = Cylinder(0,0)
Cylinder.area(c1.radius,c1.height)
Cylinder.volume(c1.radius,c1.height)
print("===============================")
c2 = Cylinder.swap(8,3)

c2.area(c2.radius,c2.height)
c2.volume(c2.radius,c2.height)
print("===============================")
c3 = Cylinder.changeFormat("7-13")
c3.area(c3.radius,c3.height)
c3.volume(c3.radius,c3.height)
print("===============================")
Cylinder(0.3,5.56).area(Cylinder.radius,Cylinder.height)
print("===============================")
Cylinder(3,5).volume(Cylinder.radius,Cylinder.height)

Default radius=5 and height=18.
Updated: radius=0 and height=0.
Area: 0.0
Volume: 0.0
===============================
Default radius=0 and height=0.
Updated: radius=3 and height=8.
Area: 207.34511513692635
Volume: 226.1946710584651
===============================
Default radius=3 and height=8.
Updated: radius=7.0 and height=13.0.
Area: 879.645943005142
Volume: 2001.1945203366981
===============================
Default radius=7.0 and height=13.0.
Updated: radius=0.3 and height=5.56.
Area: 11.045839770021713
===============================
Default radius=0.3 and height=5.56.
Updated: radius=3 and height=5.
Volume: 141.3716694115407

9

In [54]:
class Student:
  bracu_student=0
  other_student=0
  total_student= 0
  def __init__(self,name,department,insti="BRAC University"):
    self.name=name
    self.department=department
    self.insti=insti
    if self.insti=="BRAC University":
      Student.bracu_student+=1
    else:
      Student.other_student+=1
    Student.total_student= Student.bracu_student+Student.other_student  
  def individualDetail(self):
    print(f'Name: {self.name}\nDepartment: {self.department}\nInstitution: {self.insti}')
  @classmethod
  def printDetails(cls):
    print(f'Total Student(s): {cls.total_student}\nBRAC University Student(s): {cls.bracu_student}\nOther Institution Student(s): {cls.other_student}')
  @classmethod
  def createStudent(cls,name,department,insti="BRAC University"):
     return cls(name,department,insti)
Student.printDetails()
print('#########################')
mikasa = Student('Mikasa Ackerman', "CSE")
mikasa.individualDetail()
print('------------------------------------------')
Student.printDetails()
print('========================')
harry = Student.createStudent('Harry Potter', "Defence Against Dark Arts", "Hogwarts School")
harry.individualDetail()
print('-------------------------------------------')
Student.printDetails()
print('=========================')
levi = Student.createStudent("Levi Ackerman", "CSE")
levi.individualDetail()
print('--------------------------------------------')
Student.printDetails()

Total Student(s): 0
BRAC University Student(s): 0
Other Institution Student(s): 0
#########################
Name: Mikasa Ackerman
Department: CSE
Institution: BRAC University
------------------------------------------
Total Student(s): 1
BRAC University Student(s): 1
Other Institution Student(s): 0
========================
Name: Harry Potter
Department: Defence Against Dark Arts
Institution: Hogwarts School
-------------------------------------------
Total Student(s): 2
BRAC University Student(s): 1
Other Institution Student(s): 1
=========================
Name: Levi Ackerman
Department: CSE
Institution: BRAC University
--------------------------------------------
Total Student(s): 3
BRAC University Student(s): 2
Other Institution Student(s): 1

10

In [58]:
class SultansDine:
  branch_number=0
  total_sell=0
  branch_lst=[]
  def __init__(self,branch):
    self.branch=branch
    self.branch_sell=0
    SultansDine.branch_number+=1
  def sellQuantity(self,quantity):
    if quantity<10:
      self.branch_sell=quantity*300
    elif 10<=quantity<20:
      self.branch_sell=quantity*350
    else:
      self.branch_sell=quantity*400
    SultansDine.total_sell+=self.branch_sell
  def branchInformation(self):
    print(f'Branch Name: {self.branch}\nBranch Sell: {self.branch_sell}')
    SultansDine.branch_lst.append(self.branch)
    SultansDine.branch_lst.append(self.branch_sell)
  @classmethod
  def details(cls):
    print(f'Total Number of branch(s): {cls.branch_number}\nTotal Sell: {cls.total_sell}')
    for i in range(0,len(cls.branch_lst),2):
      print(f'Branch Name: {cls.branch_lst[i]}, Branch Sell: {cls.branch_lst[i+1]}')
      print(f"Branch cosists of total sell's: {round((cls.branch_lst[i+1]/cls.total_sell)*100,2)}%")
SultansDine.details()
print('########################')
dhanmodi = SultansDine('Dhanmondi')
dhanmodi.sellQuantity(25)
dhanmodi.branchInformation()
print('-----------------------------------------')
SultansDine.details()
print('========================')
baily_road = SultansDine('Baily Road')
baily_road.sellQuantity(15)
baily_road.branchInformation()
print('-----------------------------------------')
SultansDine.details()
print('========================')
gulshan = SultansDine('Gulshan')
gulshan.sellQuantity(9)
gulshan.branchInformation()
print('-----------------------------------------')
SultansDine.details()

Total Number of branch(s): 0
Total Sell: 0
########################
Branch Name: Dhanmondi
Branch Sell: 10000
-----------------------------------------
Total Number of branch(s): 1
Total Sell: 10000
Branch Name: Dhanmondi, Branch Sell: 10000
Branch cosists of total sell's: 100.0%
========================
Branch Name: Baily Road
Branch Sell: 5250
-----------------------------------------
Total Number of branch(s): 2
Total Sell: 15250
Branch Name: Dhanmondi, Branch Sell: 10000
Branch cosists of total sell's: 65.57%
Branch Name: Baily Road, Branch Sell: 5250
Branch cosists of total sell's: 34.43%
========================
Branch Name: Gulshan
Branch Sell: 2700
-----------------------------------------
Total Number of branch(s): 3
Total Sell: 17950
Branch Name: Dhanmondi, Branch Sell: 10000
Branch cosists of total sell's: 55.71%
Branch Name: Baily Road, Branch Sell: 5250
Branch cosists of total sell's: 29.25%
Branch Name: Gulshan, Branch Sell: 2700
Branch cosists of total sell's: 15.04%